
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .container {
            max-width: 500px;
        }
        .signup_tittle {
            text-align: center;
        }
        .backHome{
            text-align: center;
        }
    </style>
</head>
<body>
    
    <div class="container mt-5">
        <p class="backHome">
            <a href="/" class="btn btn-lg btn-secondary">Home</a>
        </p>
        <form action="/register" method="post">

            <h4 class="signup_tittle">Register</h4>
            <hr/>

            <div class="form-group">
                <label for="">Full Name</label>
                <input type="text" name="fullName" class="form-control">
                <div class="invalid-feedback">
                    {{ . }}
                </div>
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" name="email" class="form-control">
                <div class="invalid-feedback">
                    {{ . }}
                </div>
            </div>
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" name="username" class="form-control">
                <div class="invalid-feedback">
                    {{ . }}
                </div>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password" class="form-control">
                <div class="invalid-feedback">
                    {{ .validation.Password }}
                </div>
            </div>
            <div class="form-group">
                <label>Who are you?</label>
                <select id="userType" name="userType">
                    <option value="0">Client</option>
                    <option value="1">Seller</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success btn-block">SIGN UP</button>
            <hr/>
            <center>
                <p>Do you already have an account? <a href="/login">Login</a></p>
            </center>
        </form>
    </div>

</body>
</html>